@charset "UTF-8";

/* Estilo para tela */

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: antiquewhite;
    text-align: center;
}
header menu{
    text-align: left;
    background-color: rgb(253, 224, 186);
}
li{
    display: inline;
    padding: 10px;
    font-size: 1.2em;
}
main article h2{
    text-align: center;
    font-size: 1.3em;
    margin: 10px;    
}
main article p{
    text-align: justify;
    text-indent: 20px;
}
main{
    display: block;
    margin: auto;
    width: 400px;    
}

