@charset "utf-8";

*{
   padding: 0px; 
   margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

body {

}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: aqua;

}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.226);
    width: 400px;
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
p{

}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}